{% extends 'base.html' %}

{% block content %}
  <main class="job-review">
    <div class="job-review__wrapper">
      <div class="job-review__container">
        <div class="job-review__controls">
          <div></div>

          <h1 class="title">Upload File To IPFS</h1>

          <a href="javascript:history.back()">
            <img
              src="{{ static('images/icons/close.webp') }}"
              alt="close"
              class="job-request__icon"
            >
          </a>
        </div>

        <p class="job-review__text">
          Kindly fill file details.
        </p>

        <form method="post" enctype='multipart/form-data' class="form job-review__form">
          {# csrf token #}
          {{csrf_input}}

          <div class="form__row">
            {{form.file_name}}
          </div>

          <br>

          <div class="form__row">
            {{form.file}}
          </div>

          <br>
          <div class="form__row">
            {{form.file_description}}
          </div>

          <br>
          
          <div class="form__row form__row--submit">
            <input
              type="submit"
              value="Submit"
              class="form__submit"
            >
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock content %}
